.align_center,
.number_input {
    text-align: center
}
.footer ul,
ul {
    list-style: none
}
@font-face {
    font-family: ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ubuntu/ubuntuRegular/UbuntuRegular.eot);
    src: url(../fonts/ubuntu/ubuntuRegular/UbuntuRegular.woff) format("woff"), url(../fonts/ubuntu/ubuntuRegular/UbuntuRegular.ttf) format("truetype")
}
@font-face {
    font-family: ubuntu-medium;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ubuntu/ubuntuMedium/UbuntuMedium.eot);
    src: url(../fonts/ubuntu/ubuntuMedium/UbuntuMedium.woff) format("woff"), url(../fonts/ubuntu/ubuntuMedium/UbuntuMedium.ttf) format("truetype")
}
body {
    font-family: ubuntu;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 8px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(.15, #FFC700), color-stop(.15, #fff))
}
input[type=range]::-moz-range-progress {
    border-radius: 6px;
    height: 8px;
    background-color: #FFC700
}
input[type=range]::-moz-range-track {
    border-radius: 6px;
    height: 8px;
    background-color: #FFF
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none!important;
    background: #ffc700;
    background: -moz-linear-gradient(top, #ffc700 23%, #fca73a 100%);
    background: -webkit-linear-gradient(top, #ffc700 23%, #fca73a 100%);
    background: linear-gradient(to bottom, #ffc700 23%, #fca73a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#fca73a', GradientType=0);
    border-radius: 10px;
    height: 35px;
    width: 8px;
    cursor: pointer
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none!important;
    background: #ffc700;
    background: -moz-linear-gradient(top, #ffc700 23%, #fca73a 100%);
    background: -webkit-linear-gradient(top, #ffc700 23%, #fca73a 100%);
    background: linear-gradient(to bottom, #ffc700 23%, #fca73a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#fca73a', GradientType=0);
    border: none;
    height: 35px;
    width: 8px;
    cursor: pointer
}
.input_range {
    width: 100%
}
button.btn {
    background-color: #ffc700;
    cursor: pointer;
    border: none;
    transition: background-color .5s
}
button.btn.get_credit {
    border-radius: 25px;
    width: 100%;
    height: 75px
}
button.btn:hover {
    background-color: #fca73a
}
button.btn.slider_button {
    font-size: 21px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    line-height: 5px;
    box-sizing: border-box
}
hr {
    border: none;
    border-top: 1px dotted #ccc;
    color: #fff;
    background-color: #fff;
    height: 2px
}
.number_input {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 38px;
    font-size: 21px
}
.color_red {
    color: #cf3721
}
.color_white {
    color: #fff
}
.color_darkblue {
    color: #000a66
}
.color_yellow {
    color: #ffc700
}
.color_blue {
    color: #3b4fff
}
.color_teal {
    color: #87a1b4
}
.text_header {
    font-size: 50px
}
.text_subheader {
    font-size: 130%
}
.text_bold {
    font-family: ubuntu-medium
}
.text_normal {
    font-family: ubuntu
}
.align_left {
    text-align: left
}
.align_right {
    text-align: right
}
.go_top,
.left_column,
.right_column {
    text-align: center
}
.screen_3 .white_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: calc(50% - 55px);
    border: 2px solid #ffc700
}
.honchar {
    background-image: url(../images/honchar_photo.png)
}
.stetsyuk {
    background-image: url(../images/stetsyuk_photo.png)
}
.screen_1 {
    height: 800px;
    overflow: hidden
}
.screen_1:after {
    content: '';
    position: absolute;
    z-index: 100000;
    top: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 50px #ffc700;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent
}
.screen_2,
.screen_3 {
    height: 1000px
}
.screen_6,
.screen_7 {
    height: 1000px;
    background-color: #ffc700
}
.screen_2:after,
.screen_3:after,
.screen_5:after,
.screen_6:after,
.screen_7:after {
    content: '';
    position: absolute;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    left: 0
}
.screen_2:after {
    top: 3455px;
    border-bottom: solid 50px #cf3721
}
.screen_3:after {
    top: 2752px;
    border-bottom: solid 50px #fff
}
.screen_5:after {
    top: 3950px;
    border-bottom: solid 50px #ffc700
}
.screen_7:after {
    top: 1755px;
    border-bottom: solid 50px #fff
}
.screen_6:after {
    top: 3950px;
    border-bottom: solid 50px #000
}
.color_flatred {
    color: #cf3721
}
.screen_3 {
    background-color: #cf3721
}
.screen_4 {
    background-color: #acd0c0
}
.screen_2 .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #2e2300;
    padding-top: 22px;
    padding-left: 25px
}
.video-container,
.video-container_2 {
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden
}
.fa-envelope:before,
.fa-facebook:before,
.fa-vk:before {
    font-size: 18px!important
}
.fa-envelope,
.fa-facebook,
.fa-vk {
    transition: color .5s;
    cursor: pointer;
    margin-left: 20px
}
.color_bark {
    color: #2e2300
}
.color_seawood_green {
    color: #6e6702
}
.color_coffee {
    color: #b38867
}
.screen_2 .circle .icon {
    font-size: 40px
}
.color_slate {
    color: #626d71
}
.screen_2 .circle_text {
    height: 90px
}
.screen_3 .icon,
.screen_4 .icon {
    width: 89px
}
.video-container {
    position: relative;
    height: 0
}
.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.video-container_2 {
    position: relative;
    height: 0
}
.video-container_2 embed,
.video-container_2 iframe,
.video-container_2 object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.m_t_10 {
    margin-top: 10px
}
.m_t_30 {
    margin-top: 30px
}
.m_t_50 {
    margin-top: 50px
}
.m_t_100 {
    margin-top: 100px
}
.m_b_150 {
    margin-bottom: 150px
}
.m_b_50 {
    margin-bottom: 50px
}
.m_t_25 {
    margin-top: 25px
}
.p_t_25 {
    padding-top: 25px
}
.p_t_50 {
    padding-top: 50px
}
.text_size_small {
    font-size: 14px
}
.left_padding_0 {
    padding-left: 0
}
.calculator_inner {
    background-color: rgba(38, 42, 96, .7)
}
.calculator_sidebar_top {
    background-color: #fff
}
.calculator_sidebar_bottom {
    background-color: #3b4fff;
    height: 100px;
    line-height: 100px
}
.screen_3 .text_subheader,
.screen_4 .text_subheader {
    height: 50px
}
.screen_3 .left_column:after,
.screen_3 .right_column:before,
.screen_4 .left_column:after,
.screen_4 .right_column:before {
    color: #fff;
    overflow: visible
}
.go_top {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    z-index: 1000;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility .2s linear, opacity .2s linear;
    -moz-transition: visibility .2s linear, opacity .2s linear;
    -o-transition: visibility .2s linear, opacity .2s linear
}
.footer-info {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px
}
.footer ul {
    margin: 0;
    padding: 0
}
.footer-bottom {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px
}
.screen_1 .subtitle,
.screen_1 .title {
    z-index: 10000;
    padding: 20px;
    border: 1px solid #aaa;
    background-color: #000;
    position: absolute;
    left: 0
}
.speed_1,
.speed_2,
.speed_3,
.speed_4,
.speed_5,
.speed_6 {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: #999
}
.screen_1 .title {
    top: 10%
}
.screen_1 .subtitle {
    top: 65%;
    font: 20px
}
.black_cover {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 1000
}
.screen_2 .left_text,
.screen_3 .right_text,
.screen_7 .right_text {
    position: absolute;
    z-index: 10000;
    font-size: 160px;
    overflow-x: hidden
}
.white_0 {
    color: #aaa
}
.white_1 {
    color: #fff
}
.color_black {
    color: #000
}
.screen_3 .right_text {
    transform: rotate(270deg);
    right: -270px;
    top: 2915px
}
.screen_7 .right_text {
    transform: rotate(270deg);
    right: -150px;
    top: 785px
}
.screen_2 .left_text {
    transform: rotate(90deg);
    left: -395px;
    top: 2025px
}
.left_text,
.right_text {
    display: none
}
body,
div,
html {
    overflow-x: hidden
}
div {
    overflow-y: hidden
}
ul {
    padding: 0;
    font-size: 15px
}
ol {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none
}
ol.programm_list li {
    counter-increment: step-counter;
    margin-top: 0;
    font-size: 18px
}
ol.programm_list li .practical {
    font-size: 16px
}
ol.programm_list li::before {
    content: counter(step-counter);
    color: #cf3721;
    font-weight: bolder;
    margin-right: 10px
}
@media(max-width:500px) {
    .xxs_p_l_25 {
        padding-left: 50px
    }
}
@media(max-width:991px) {
    .mobile_p_l_10 {
        padding-left: 10px
    }
    .mobile_m_t_150 {
        margin-top: 150px
    }
    .mobile_m_t_100 {
        margin-top: 100px
    }
    .mobile_m_t_50 {
        margin-top: 50px
    }
    .mobile_m_t_25 {
        margin-top: 25px
    }
    .screen {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .mobile_align_center {
        text-align: center
    }
    .mobile_hidden {
        display: none
    }
    .mobile_center {
        margin-left: auto;
        margin-right: auto
    }
    .text_header {
        font-size: 35px
    }
    .mobile_p_b_25 {
        padding-bottom: 25px
    }
    .mobile_p_t_25 {
        padding-top: 25px
    }
    .mobile_m_t_55 {
        margin-top: 55px
    }
    .screen_2 {
        height: 1800px
    }
    .screen_3 {
        height: 1350px
    }
    .screen_5,
    .screen_6 {
        height: 1800px
    }
    .screen_5:after {
        top: 5850px
    }
    .screen_6:after {
        top: 6350px
    }
    .screen_2:after {
        top: 2555px
    }
    .screen_3:after {
        top: 3900px
    }
}
@media(max-width:374px) {
    .screen_6 {
        height: 1000px
    }
    .screen_3 {
        height: 1400px
    }
    .screen_5 {
        height: 2050px
    }
    .screen_7 {
        height: 1150px
    }
    .screen_2:after {
        top: 3702px
    }
    .screen_3:after {
        top: 5102px
    }
    .screen_5:after {
        top: 7152px
    }
    .screen_6:after {
        top: 8152px
    }
    .screen_7:after {
        top: 1902px
    }
}
@media(min-width:374px) and (max-width:600px) {
    .screen_6 {
        height: 950px
    }
    .screen_3 {
        height: 1300px
    }
    .screen_2:after {
        top: 3552px
    }
    .screen_3:after {
        top: 4852px
    }
    .screen_5:after {
        top: 6652px
    }
    .screen_6:after {
        top: 7602px
    }
    .screen_7:after {
        top: 1752px
    }
}
@media(min-width:601px) {
    .screen_6 {
        height: 900px
    }
    .screen_1 .subtitle {
        top: 400px;
        left: 0
    }
    .screen_5 {
        height: 1500px
    }
    .screen_7 {
        height: 700px
    }
    .screen_2 {
        height: 2000px
    }
    .screen_3 {
        height: 1100px
    }
    .screen_2:after {
        top: 3452px
    }
    .screen_3:after {
        top: 4552px
    }
    .screen_5:after {
        top: 6052px
    }
    .screen_6:after {
        top: 6952px
    }
    .screen_7:after {
        top: 1452px
    }
}
@media(min-width:601px) and (max-width:991px) {
    .strange_m_t {
        margin-top: 25px
    }
}
@media(min-width:992px) {
    .p_t_v {
        padding-top: 200px
    }
    ol.programm_list li {
        counter-increment: step-counter;
        margin-top: 0;
        font-size: 22px
    }
    ol.programm_list li .practical {
        font-size: 19px
    }
    .left_column:after {
        width: 300px;
        content: ". . . . . . . . . .";
        display: block;
        position: absolute;
        top: 0;
        left: 80%;
        min-height: 70px;
        font-size: 50px
    }
    .md_align_left {
        text-align: left
    }
    .screen_3 {
        height: 1000px
    }
    .screen_7 {
        height: 900px
    }
    .screen_2 {
        height: 1000px
    }
    .screen_6 {
        height: 800px
    }
    .screen_5 {
        height: 1400px
    }
    .screen_1,
    .screen_1 .black_cover {
        height: 700px
    }
    .screen_1:after {
        top: 650px
    }
    .screen_2:after {
        top: 2550px
    }
    .screen_3:after {
        top: 3550px
    }
    .screen_5:after {
        top: 4953px
    }
    .screen_6:after {
        top: 5753px
    }
    .screen_7:after {
        top: 1555px
    }
    .md_m_t_10p {
        margin-top: 10%
    }
    .screen {
        padding-top: 150px;
        padding-bottom: 150px
    }
    .desktop_visible_block {
        display: block
    }
    .desktop_visible_inline {
        display: inline
    }
    .desktop_hidden {
        display: none
    }
    .desktop_m_t_100 {
        margin-top: 100px
    }
    .desktop_p_r_50 {
        padding-right: 50px
    }
    .desktop_p_t_15 {
        padding-top: 15px
    }
    .calculator {
        padding-left: 20px
    }
    .calculator_header {
        height: 100px;
        background-color: #3b4fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-left: -20px;
        padding-left: 20px;
        margin-right: 0
    }
    .desktop_line_height_100 {
        line-height: 100px
    }
    .md_m_l_5p {
        margin-left: 5%
    }
    .calculator_inner {
        height: 400px;
        margin-left: -20px;
        border-bottom-left-radius: 25px
    }
    .calculator_sidebar_top {
        height: 300px;
        width: calc(100% + 20px)
    }
    .calculator_sidebar_bottom {
        width: calc(100% + 20px);
        border-bottom-right-radius: 25px
    }
    ;
    .screen_1 .subtitle {
        top: 85%;
        left: 0
    }
}
@media(min-width:1200px) {
    .screen_1, .screen_1 .black_cover {
        height: 900px
    }
    .screen_1:after {
        top: 850px
    }
    .screen_2:after {
        top: 2750px
    }
    .screen_3:after {
        top: 3750px
    }
    .screen_5:after {
        top: 5153px
    }
    .screen_6:after {
        top: 5953px
    }
    .screen_7:after {
        top: 1755px
    }
    ul {
        font-size: 20px
    }
    .lg_m_l_20p {
        margin-left: 20%
    }
    .screen_3 .right_text {
        display: block;
        top: 3015px
    }
    .screen_7 .right_text {
        display: block;
        top: 885px
    }
    .screen_2 .left_text {
        display: block;
        top: 2125px
    }
    .lg_p_l_20 {
        padding-left: 20px
    }
    .screen_2 {
        background-position: -80% 25%
    }
    .lg_align_right {
        text-align: right
    }
    .lg_align_center {
        text-align: center
    }
    .calculator {
        margin-left: -20px
    }
    .left_column:after {
        width: 300px;
        content: ". . . . . . . . . . .";
        display: block;
        position: absolute;
        top: 0;
        left: 85%;
        min-height: 70px;
        font-size: 50px
    }
    .screen_1 .subtitle {
        font-size: 30px;
        top: 400px;
        left: 50%
    }
    .screen_1 .title {
        left: 5%
    }
}
@media(min-width:1500px) {
    .honchar, .stetsyuk {
        background-size: cover
    }
    .p_t_v {
        padding-top: 100px
    }
    .lg_p_l_8p {
        padding-left: 8%
    }
    .screen_3 .right_text {
        top: 2915px
    }
    .screen_7 .right_text {
        top: 785px
    }
    .screen_2 .left_text {
        top: 2025px
    }
    .screen_1,
    .screen_1 .black_cover {
        height: 800px
    }
    .screen_7 {
        height: 1000px
    }
    .honchar,
    .screen_3 .white_circle,
    .stetsyuk {
        width: 120px;
        height: 120px
    }
    .screen_1:after {
        top: 750px
    }
    .screen_2:after {
        top: 2750px
    }
    .screen_3:after {
        top: 3750px
    }
    .honchar {
        background-image: url(../images/honchar_photo.png)
    }
    .stetsyuk {
        background-image: url(../images/stetsyuk_photo.png)
    }
    .screen_5:after {
        top: 5153px
    }
    .screen_6:after {
        top: 5953px
    }
    .screen_7:after {
        top: 1755px
    }
    .lg_align_right {
        text-align: right
    }
    .xlg_m_l_25p {
        margin-left: 25%
    }
    .lg_align_center {
        text-align: center
    }
    .left_column:after {
        width: 700px;
        content: ". . . . . . . . . . . . . . . . . . . .";
        display: block;
        position: absolute;
        top: 0;
        left: 40%;
        min-height: 70px;
        font-size: 50px
    }
}
@media(min-width:1700px) {
    .left_column:after {
        width: 700px;
        content: ". . . . . . . . . . . . . . . . . . . .";
        display: block;
        position: absolute;
        top: 0;
        left: 60%;
        min-height: 70px;
        font-size: 50px
    }
}
::-webkit-input-placeholder {
    color: #fff
}
::-moz-placeholder {
    color: #fff
}
:-ms-input-placeholder {
    color: #fff
}
:-moz-placeholder {
    color: #fff
}
input[type=text] {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 90%;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffc700
}
a.submit {
    background-color: transparent;
    padding: 15px;
    border: 1px solid #ffc700;
    border-radius: 10px;
    color: #ffc700;
    transition: .5s;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 1.2em
}
a.submit:hover {
    color: #fff;
    background-color: #ffc700
}
.plan_header {
    font-weight: 700;
    font-size: 25px
}
.color_black:active,
.color_black:hover,
.color_black:visited {
    color: #000
}
.author {
    text-decoration: underline
}
.title_shadow{
      text-shadow: -3px 3px 2px rgba(0,0,0,0.4);
}
